/* .AccountSelector_container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
} */

.AccountSelector_select {
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid #7d84b2;
    background-color: white;
    color: #333;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 350px;
}

.AccountSelector_select:hover {
    border-color: #8e9dcc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.AccountSelector_select:focus {
    outline: none;
    border-color: #8e9dcc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.AccountSelector_select option {
    padding: 8px;
    font-family: 'Ubuntu', sans-serif;
}