body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.sleet-icon {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.NetworkToggle_button {
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 0px;
    background-color: #7d84b2; /* Light color from design */
    color: #ffffff; /* White text for contrast */
    font-family: 'Ubuntu', sans-serif; /* Use Ubuntu font */
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.NetworkToggle_button:hover {
    background-color: #8e9dcc; /* Slightly darker shade for hover */
}

